{% extends 'layout/main.html' %}

       {% block title %}
            {{slug}}
       {% endblock title %}
{% block content %}

    {% include 'layout/navbar.html' %}
    <div class="container my-5">
        
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    {% for job in job %}
                    <h2>{{job.judul}}</h2>
                    <br>
                        {{job.deskripsi | safe}}

                        
                             <a href="#"  class="btn btn-primary ml-1 mt-3">apply now</a>
                          
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}