{% extends 'layout/main.html' %}

       {% block title %}
            {{slug}}
       {% endblock title %}
{% block content %}

    {% include 'layout/navbar.html' %}
    <div class="container my-5">
        
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card" style="width: 100%; box-shadow:  1px 1px 5px #e3e3e3, 
                        -1px -1px 5px #ffffff; border:none;">
                <div class="card-body">
                    {% for job in job %}
                    <h2>{{job.judul}}</h2>
                    <br>
                        {{job.deskripsi | safe}}

                        
                             <a href="{% url 'lamarJobs' job.slug %}"  style="width:100%" class="btn btn-primary text-center mt-3">lamar sekarang</a>
                          
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}