{% load static %}
<nav style="box-shadow:  1px 1px 10px #e3e3e3, 
             -1px -1px 10px #ffffff;" class="navbar navbar-expand-lg navbar-light" >
  <div class="container">
    <a class="navbar-brand text-bold" href="#">
   <b>IcoJob</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'jobs' %}">jobs</a>
      <a class="nav-item nav-link" href="{% url 'jobs' %}">Pricing</a>
    </div>
  </div>
  </div>
</nav>